<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://zhijiefunctionapp120220526170039.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1756abc0-3554-4341-8d6a-46674962ea19/resourcegroups/ZhijieApp2-dev-rg/providers/Microsoft.Web/sites/ZhijieFunctionApp120220526170039</ResourceId>
    <UserName>$ZhijieFunctionApp120220526170039</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://zhijiefunctionapp120220526170039.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>